# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\tetris_reinforcement_learning_ai-master\tetris_reinforcement_learning_ai-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
